coveralls
flake8
nltk>=3.2,<4.0
nose
pint>=0.8.1
pymongo>=3.3,<4.0
twine
twython
spacy>=3.2.0,<3.3.0
sphinx>=3.0,<3.1
sphinx_rtd_theme
pyyaml>=3.12,<4.0
git+git://github.com/gunthercox/chatterbot-corpus@master#egg=chatterbot_corpus
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.2.0/pt_core_news_sm-3.2.0.tar.gz#egg=pt_core_news_sm
